<div class="container-fluid">
  <div class="row align-items-center bg-secondary ">
    <div class="col">

      <form>

        <div class="container-fluid col-12">
          <h1>Formulário de Login</h1>
          <br>

          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form3Example1" class="form-control bg-white" />
                <label class="form-label" for="form3Example1">Nome</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form3Example2" class="form-control bg-white" />
                <label class="form-label" for="form3Example2">Sobrenome</label>
              </div>
            </div>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control bg-white" />
            <label class="form-label" for="form3Example3">Endereço de Email</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form3Example4" class="form-control bg-white" />
            <label class="form-label" for="form3Example4">Senha</label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4 bg-primary">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
