<div class="container-fluid">

  <div class="row align-items-center bg-secondary">
    <div class="col">
      <h2>História da Empresa Game Mania</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
        atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
        atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
        atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
        atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
        atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
        atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
        atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
        atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
        atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
        atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
          atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
          atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
          atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
          atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
          atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
          atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
          atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
          atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
          atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure quis
          atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.</p>
    </div>
    
  </div>









</div>