<div class="container-fluid">

    <div class="row align-items-center bg-secondary">
      <div class="col">
        <h2 style="font-size:bolder">Venha Fazer Parte da Nossa Equipe !!</h2>
        <h5 style="font-size:bolder">Envie seu currículo para "gamemania@gmail.com" contendo o cargo desejado e a cidade correspondente à vaga.</h5>

        <br>       
         
        <h3 style="font-size: bold;"> Programador(a) - 2 Vagas São Paulo</h3>
  
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure
          quis atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure
          quis atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure
          quis atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure
          quis atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.</p>
  
        <h3 style="font-size: bold;">Administrador(a) - 1 Vaga São Paulo</h3>
  
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure
          quis atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure
          quis atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure
          quis atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure
          quis atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.</p>
  
        <h3 style="font-size: bold;">Vendedor(a) - 2 Vagas (1- Carapicuíba) (1- São José do Rio Preto)</h3>
  
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure
          quis atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure
          quis atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure
          quis atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure
          quis atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.</p>
  
        <h3 style="font-size: bold;">Analista de Dados - 1 Vaga São Paulo</h3>
  
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure
          quis atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dicta nihil quaerat tempore iusto, ullam iure
          quis atque dignissimos magnam exercitationem cumque repellat veniam? Eos ad aspernatur libero mollitia maiores.</p>
  
      </div>
  
    </div>
  
  </div>
  
  
