<div class="container-fluid">
  <div class="row align-items-center bg-secondary">
    <div class="col-12">
      <br>
      <br>
      <h2 class="jogos_destaque" style="font-weight: bold; color: black;">Jogos em Destaque</h2>
    </div>
    <hr>
    <div class="col-12">
      <div class="container-lg my-3">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="4"></li>
          </ol>
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="carousel-item">
              <img src="../../../assets/AircraftA.jpg" height="300" width="20" class="d-block w-100" alt="Slide 1">
            </div>
            <div class="carousel-item active">
              <img src="../../../assets/ChessC.jpg" height="300" width="20" class="d-block w-100" alt="Slide 2">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/SoldierS.jpg" height="300" width="20" class="d-block w-100" alt="Slide 3">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/MedievalM.jpg" height="300" width="20" class="d-block w-100" alt="Slide 1">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/FantasyF.jpg" height="300" width="20" class="d-block w-100" alt="Slide 1">
            </div>
          </div>

          <!-- Carousel controls -->
          <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>

      </div>
    </div>

    <br>
    <br>

    <!-- Card de Novidades -->

    <div class="col-12">
      <br>
      <br>
      <h2 class="jogos_destaque" style="font-weight: bold; color:black">Card de Novidades</h2>
    </div>
    <hr>
    <div class="col-12">
      <div class="m-5">
        <div class="card-group">
          <hr>
          <div class="card bg-dark text-white">
            <a><img src="../assets/Cadeira_Gamer.png" class="card-img-top"
                style="img-fluid; max-height: 150px; padding: 7px" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Cadeira Gamer</h5>
              <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
              <a href="http://" class="btn btn-primary">Cadeira Gamer</a>
            </div>
          </div>
          <hr>
          <div class="card bg-dark text-white">
            <a><img src="../assets/Console.png" class="card-img-top img-fluid"
                style="img-fluid; max-height: 150px; padding: 7px" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Console para Jogos</h5>
              <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
              <a href="http://" class="btn btn-primary">Console para Jogos</a>
            </div>
          </div>
          <hr>
          <div class="card bg-dark text-white">
            <a><img src="../assets/Placa.png" class="card-img-top img-fluid"
                style="img-fluid; max-height: 150px; padding: 7px" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Placa de Vídeo</h5>
              <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
              <a href="http://" class="btn btn-primary">Placa de Vídeo</a>
            </div>
          </div>
          <hr>

        </div>

      </div>
    </div>

    <!-- Segunda Linha do Card de Novidades -->

    <div class="col-12">
      <div class="m-5">
        <div class="card-group">
          <hr>
          <div class="card bg-dark text-white">
            <a><img src="../../../assets/chip.jpg" class="card-img-top"
                style="img-fluid; max-height: 150px; padding: 7px" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">CHIP</h5>
              <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
              <a href="http://" class="btn btn-primary">Chip</a>
            </div>
          </div>
          <hr>
          <div class="card bg-dark text-white">
            <a><img src="../../../assets/LaptopL.jpg" class="card-img-top img-fluid"
                style="img-fluid; max-height: 150px; padding: 7px" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Notebook</h5>
              <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
              <a href="http://" class="btn btn-primary">Notebook</a>
            </div>
          </div>
          <hr>
          <div class="card bg-dark text-white">
            <a><img src="../../../assets/Mobile_Phone.png" class="card-img-top img-fluid"
                style="img-fluid; max-height: 150px; padding: 7px" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">SmarthPhone</h5>
              <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
              <a href="http://" class="btn btn-primary">Smartphone</a>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
