<div class="container-fluid">

  <div class="row align-items-center bg-secondary">
    <div class="col">    
      <br>
      <h3 style="font-size: bold;">MATRIZ:</h3>

      <h3 style="font-size: bold;">São Paulo</h3>

      <p>Nome:
        Beatriz e Heitor ME
        CNPJ:
        48.767.904/0001-73
        Inscrição Estadual:
        432.862.154.527
        Data de Abertura:
        01/02/2017
        Site:
        www.gamemania.com.br
        E-Mail:
        gamemania@gmail.com.br
        CEP:
        03575-070
        Endereço:
        Rua Durião
        Número:
        278
        Bairro:
        Jardim Santa Maria
        Cidade:
        São Paulo
        Estado:
        SP
        Telefone:
        (11) 2667-5259
        Celular:
        (11) 99986-6567
      </p>

      <br>
      <br>

      <h3 style="font-size: bold;"> FILIAIS:</h3>

      <h3 style="font-size: bold;">São José do Rio Preto</h3>

      <p>Nome:
        Antonella e Luiz ME
        CNPJ:
        42.815.809/0001-11
        Inscrição Estadual:
        859.157.455.352
        Data de Abertura:
        10/12/2018
        Site:
        www.gamemania.com.br
        E-Mail:
        gmsaojoseriopreto@gmail.com.br
        CEP:
        15042-231
        Endereço:
        Rua Antonia Guidi Panca
        Número:
        300
        Bairro:
        Residencial Mirante
        Cidade:
        São José do Rio Preto
        Estado:
        SP
        Telefone:
        (17) 2860-1086
        Celular:
        (17) 98383-5416
      </p>

      <h3 style="font-size: bold;">Carapicuíba</h3>

      <p>Nome:
        Oliver e Lívia ME
        CNPJ:58.571.146/0001-77
        Inscrição Estadual:
        281.939.299.615
        Data de Abertura:
        18/09/2019
        Site:
        www.gamemania.com.br
        E-Mail:
        gmcarapicuiba@gamil.com.br
        CEP:
        06390-330
        Endereço:
        Rua Macedônia
        Número:
        375
        Bairro:
        Cidade Ariston Estela Azevedo
        Cidade:
        Carapicuíba
        Estado:
        SP
        Telefone:
        (11) 2662-4429
        Celular:
        (11) 99783-5949
      </p>

      <br>
      <br>
      <br>

      <div class="aviso">
        <p style="font-weight: bolder">Obs. Os endereços foram elaborados através de um gerador automático
          disponibilizado na internet, assim sendo qualquer similaridade com a existência de um endereço real é mera
          coincidência.</p>

      </div>

    </div>

  </div>

</div>
